<!doctype html>
<html lang="sl">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>ads</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/stili.css" /> -->

</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Letalske karte</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                %if uporabnik == None and organizator == None and admin ==None:
                <li class="nav-item dropdown">
                    <a href="/prijava">Prijava</a>
                    <a href="/registracija">Registracija</a> 
                </li>
                %elif uporabnik != None and organizator == None and admin != None:
                <div class="container-fluid">
                    <a class="navbar-item" href="/pregled_uporabnikov">Uporabniki</a>
                </div>
                <div class="container-fluid">
                    <a class="navbar-item" href="/pregled_organizatorjev">Organizatorji</a>
                </div>
                <div class="container-fluid">
                    <a class="navbar-item" href="/org">Leti</a>
                </div>
                <div class="container-fluid">
                    <a class="navbar-item" href="/dodaj_organizatorja">Dodaj organizatorja</a>
                </div>
                <div class="container-fluid">
                    <a class="navbar-item" href="/dodaj_let">Dodaj let</a>
                </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        {{uporabnik[3]}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/sprememba_gesla">Spremeni geslo</a>
                        <a class="dropdown-item" href="/odjava">Odjava</a>
                    </div>
                </li>
                %elif uporabnik != None and organizator ==None and admin ==None:
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{uporabnik[4]}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profil_uporabnika">Moj profil</a>
                        <a class="dropdown-item" href="/kupljene_karte">Kupljene karte</a>
                        <a class="dropdown-item" href="/sprememba_gesla">Spremeni geslo</a>
                        <a class="dropdown-item" href="/odjava">Odjava</a>
                    </div>
                </li>
                %elif uporabnik == None and organizator !=None and admin == None:
                <a class="navbar-item" href="/dodaj_let">Dodaj let</a>
                <a class="navbar-item" href="/org">Uredi lete</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        {{organizator[3]}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profil_organizatorja">Moj profil</a>
                        <a class="dropdown-item" href="/sprememba_gesla">Spremeni geslo</a>
                        <a class="dropdown-item" href="/odjava">Odjava</a>
                    </div>
                </li>
                %end
            </div>
        </div>
    </nav>

    <div class="container">

        % if napaka:
        <div class="alert alert-danger">
            {{napaka}}
        </div>
        % end

        {{!base}}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>