% setdefault('napaka', '')
% setdefault('uporabnik', '')
% setdefault('organizator', '')
% setdefault('admin', '')
% rebase('base.html', napaka = napaka, uporabnik = uporabnik, organizator = organizator, admin = admin)

<div class="container">
    <br><br><br><br>
    <h3>Čarterski leti</h3>
    <ul style="font-size: 120%">
        % if leti == []:
        <p>Trenutno ni letov.</p>
        % end
        % redni = ["Madrid Barajas Airport (MAD)","Barcelona Airport (BCN)","Rome Fiumicino Airport (FCO)","Zurich Airport (ZRH)","Athens Airport (ATH)","Munich International Airport (MUC)","Amsterdam Airport (AMS)","Frankfurt International Airport (FRA)","London Heathrow Airport (LHR)","Paris Charles de Gaulle Airport (CDG)"]
        % for let in leti:
        % if let[1] not in redni and let[2] not in redni:
        <li><b>Kraj odhoda: </b>{{let[1]}} <br>
            <b>Kraj prihoda: </b>{{let[2]}} <br>
            <b>Datum odhoda: </b>{{let[3]}} {{let[5]}} <br>
            <b>Že od:</b> {{let[9][0]}} evrov 
            <form action="/kupi/{{let[0]}}" method="get">
                <button type="submit">Kupi</button>
            </form>
        </li>
        % end
        % end
    </ul>

</div>
<script>
    document.getElementById('datum_odhod').value = new Date().toISOString().substring(0, 10);
    document.getElementById('datum_vrnitev').value = new Date().toISOString().substring(0, 10);
</script>

