% setdefault('napaka', '')
% setdefault('uporabnik', '')
% setdefault('organizator', '')
% setdefault('admin', '')
% rebase('base.html', napaka = napaka, uporabnik = uporabnik, organizator = organizator, admin = admin)

<div class="container">
    <br>

    % for let in pot_tja:
    <ul style="font-size: 120%">
        <li><b>{{let[0]}}</b> ---> <b>{{let[1]}}</b> </li>
    </ul>
    <b>Kraj odhoda: </b>{{let[0]}} <br>
    <b>Kraj prihoda: </b>{{let[1]}} <br>
    <b>Odhod: </b>{{let[2]}} {{let[4]}} <br>
    <b>Prihod: </b>{{let[3]}} {{let[5]}} <br>
    <b>Cena karte: </b> {{let[6][int(razred)]}} eur  <br>

    <button action="{{url('nakup_karte',id_leta=let[7])}}" method="post">
        <a onclick="window.open('{{url("nakup_karte", id_leta=let[7])}}',
        'newwindow', 
        'width=600,height=600'); 
        return false;">
        Kupi
        </a>
    </button>
    %end
    <br><br><br>
    <b>Skupna cena: {{cena_potovanja}}</b>
    <br><br><br><br><br>
        
</div>
% if enosmeren == '1':
<div class="container">
    <br>

    % for let in pot_nazaj:
    <ul style="font-size: 120%">
        <li><b>{{let[0]}}</b>  ---> <b>{{let[1]}}</b> </li>
    </ul>
    <b>Kraj odhoda: </b>{{let[0]}} <br>
    <b>Kraj prihoda: </b>{{let[1]}} <br>
    <b>Odhod: </b>{{let[2]}} {{let[4]}} <br>
    <b>Prihod: </b>{{let[3]}} {{let[5]}} <br>
    <b>Cena karte: </b> {{let[6][int(razred)]}} eur  <br>

    <button action="{{url('nakup_karte',id_leta=let[7])}}" method="post">
        <a onclick="window.open('{{url("nakup_karte", id_leta=let[7])}}',
        'newwindow', 
        'width=600,height=600'); 
        return false;">
        Kupi
        </a>
    </button>
    %end
    <br><br><br>
    <b>Skupna cena: {{cena_potovanja_nazaj}}</b>
    <br><br><br><br><br>
 
</div>
%end