% setdefault('napaka', '')
% setdefault('uporabnik', '')
% setdefault('organizator', '')
% rebase('base.html', napaka = napaka, uporabnik = uporabnik, organizator = organizator)


<div class="container">
    <br><br><br><br>
    <form action="/leti/" method="post">
        <label for="vzletalisce">Vzletališče:</label>
        <input list="letalisca" name="iz" autocomplete="on" placeholder="Ime letališča">
        <datalist id="letalisca">
            <option value="Madrid Barajas Airport (MAD)">
            <option value="Barcelona Airport (BCN)">
            <option value="Rome Fiumicino Airport (FCO)">
            <option value="Zurich Airport (ZRH)">
            <option value="Athens Airport (ATH)">
            <option value="Munich International Airport (MUC)">
            <option value="Amsterdam Airport (AMS)">
            <option value="Frankfurt International Airport (FRA)">
            <option value="London Heathrow Airport (LHR)">
            <option value="Paris Charles de Gaulle Airport (CDG)">
        </datalist>
        <label for="pristajalisce">Pristajališče:</label>
        <input list="letalisca" name="do" autocomplete="on" placeholder="Ime letališča">
        <label for="start">Odletim:</label>
        <input type="date" name="datum_odhoda" id="datum_odhod">
        <label for="start">Priletim nazaj:</label>
        <input type="date" name="datum_vrnitve" id="datum_vrnitev">
        <button class="btn btn-primary" type="submit">Išči!</button>
    </form>


    <a href="{{url('last_minute')}}">
        <img src="{{url('static', filename= '/images/last_min.png')}}" width="300" height="200">
    </a>
    <a href="{{url('vroci')}}">
        <img src="{{url('static', filename= '/images/vroci.png')}}" width="300" height="200">
    </a>
    <a href="{{url('carterski')}}">
        <img src="{{url('static', filename= '/images/cart.png')}}" width="300" height="200">
    </a>
    <!-- <a href="{{url('last_minute')}}">
        <img src="{{url('static', filename= '/images/zniz.png')}}" width="300" height="200">
    </a> -->
</div>
<script>
    document.getElementById('datum_odhod').value = new Date().toISOString().substring(0, 10);
    document.getElementById('datum_vrnitev').value = new Date().toISOString().substring(0, 10);
</script>