% rebase('base.html')
<div class="container">
    <br><br><br><br>
    <form action="/leti/" method="post">
        <label for="vzletalisce">Vzletališče:</label>
        <input list="letalisca" name="iz" autocomplete="on" placeholder="Ime letališča">
        <datalist id="letalisca">
            <option value="Madrid Barajas Airport (MAD)">
            <option value="Barcelona Airport (BCN)">
            <option value="Rome Fiumicino Airport (FCO)">
            <option value="Zurich Airport (ZRH)">
            <option value="Athens Airport (ATH)">
            <option value="Munich International Airport (MUC)">
            <option value="Amsterdam Airport (AMS)">
            <option value="Frankfurt International Airport (FRA)">
            <option value="London Heathrow Airport (LHR)">
            <option value="Paris Charles de Gaulle Airport (CDG)">
        </datalist>
        <label for="pristajalisce">Pristajališče:</label>
        <input list="letalisca" name="do" autocomplete="on" placeholder="Ime letališča">
        <label for="start">Odletim:</label>
        <input type="date" name="datum_odhoda" value="2022-06-10">
        <label for="start">Priletim nazaj:</label>
        <input type="date" name="datum_vrnitve" value="2022-06-14">
        <button class="btn btn-primary" type="submit">Išči!</button>
    </form>
    <br><br><br><br>
    <h3>Last-minute leti</h3>
    <ul style="font-size: 120%">
        % for let in leti:
        <li><b>Kraj odhoda: </b>{{let[0]}} <br>
            <b>Kraj prihoda: </b>{{let[1]}} <br>
            <b>Datum odhoda: </b>{{let[2]}}
            <form action="/kupi/{{let[4]}}" method="get">
                <button type="submit">Kupi</button>
            </form>
        </li>
        % end
    </ul>

</div>