% rebase('base.html')



<div class="container">
    <br><br><br><br>
    <div>
        <p>{{let}}</p>
        <b>Kraj odhoda: </b>{{let[1]}} <br>
        <b>Kraj prihoda: </b>{{let[2]}} <br>
        <b>Datum odhoda: </b>{{let[3]}} <br>
        <b>Cena: </b> 100 eur
        <p>stevilka_narocila INTEGER PRIMARY KEY,<br>
            razred TEXT NOT NULL,<br>
            ime_potnika TEXT NOT NULL,<br>
            cena INTEGER NOT NULL,<br>
            stevilka_sedeza TEXT NOT NULL<br>
            stevilka_leta INTEGER NOT NULL REFERENCES let(stevilka_leta)</p>
        <form action="/kupi/{{let[0]}}" method="post">
            <button type="submit">Kupi in plačaj</button>
        </form>
    </div>


</div>