% setdefault('napaka', '')
% setdefault('uporabnik', '')
% setdefault('organizator', '')
% setdefault('admin', '')
% rebase('base.html', napaka = napaka, uporabnik = uporabnik, organizator = organizator, admin = admin)


<div class="container">
    <br><br><br><br>
    <h3>Uporabniki</h3>
    <ul style="font-size: 120%">
        % if uporabniki == []:
        <p>Trenutno ni uporabnikov.</p>
        % end
        % for uporabnik in uporabniki:
        <li><b>emso:</b>{{uporabnik[0]}} <br>
            <b>ime: </b>{{uporabnik[1]}} <br>
            <b>priimek: </b>{{uporabnik[2]}} <br>
            <b>email: </b>{{uporabnik[3]}} <br>
            <b>uporabnisko_ime: </b>{{uporabnik[4]}} <br>
            <b>geslo: </b>{{uporabnik[5]}} <br>
            <form action="{{url('uredi_uporabnika',emso=uporabnik[0])}}" method="get">
                <button type="submit">Uredi</button>
            </form>
            <form action="{{url('odstrani_uporabnika',emso=uporabnik[0])}}" method="get">
                <button type="submit">Odstrani</button>
            </form>
        </li>
        % end
    </ul>

</div>
