% setdefault('napaka', '')
% setdefault('uporabnik', '')
% setdefault('organizator', '')
% setdefault('admin', '')
% rebase('base.html', napaka = napaka, uporabnik = uporabnik, organizator = organizator, admin = admin)


<div class="container">
    <br><br><br><br>
    <h3>Leti</h3>
    <ul style="font-size: 120%">
        % if leti == []:
        <p>Trenutno ni letov.</p>
        % end
        % for let in leti:
        <li><b>Kraj odhoda: </b>{{let[1]}} <br>
            <b>Kraj prihoda: </b>{{let[2]}} <br>
            <b>Datum odhoda: </b>{{let[3]}} {{let[5]}} <br>
            <b>Že od:</b> {{let[9][0]}} evrov 
            <form action="{{url('uredi',id_leta=let[0])}}" method="get">
                <button type="submit">Uredi</button>
            </form>
            <form action="{{url('odstrani',id_leta=let[0])}}" method="get">
                <button type="submit">Odstrani</button>
            </form>
        </li>
        % end
    </ul>

</div>
<script>
    document.getElementById('datum_odhod').value = new Date().toISOString().substring(0, 10);
    document.getElementById('datum_vrnitev').value = new Date().toISOString().substring(0, 10);
</script>