% setdefault('napaka', '')
% setdefault('uporabnik', '')
% setdefault('organizator', '')
% setdefault('admin', '')
% rebase('base.html', napaka = napaka, uporabnik = uporabnik, organizator = organizator, admin = admin)
<div class="container">
  <br><br><br><br>
  <form action="{{url('prijava_post')}}"  method="post" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Uporabniško ime</label>
        <input id="username" name="username" type="text" class="form-control" required
          oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Obvezno polje')" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="password">Geslo</label>
        <input id="password" name="password" type="password" class="form-control" required
          oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Obvezno polje')" />
      </div>
    </div>
    <div class="form-row col">
      <button class="btn btn-primary" type="submit">
        Prijava
      </button>
    </div>

  </form>
</div>