% setdefault('napaka', '')
% setdefault('uporabnik', '')
% setdefault('organizator', '')
% setdefault('admin', '')
% rebase('base.html', napaka = napaka, uporabnik = uporabnik, organizator = organizator, admin = admin)
<div class="container">
  <br><br><br><br>
  <h1>Podatki uporabnika</h1>
  <table id="izpis" class="table table-hover">
    <tr>
      <th>Emšo</th>
      <th>Ime</th>
      <th>Priimek</th>
      <th>Uporabniško ime</th>
      <!-- TODO <th>Telefon</th> -->
    </tr>
    <tr>
      <td>{{uporabnik[0]}}</td>
      <td>{{uporabnik[1]}}</td>
      <td>{{uporabnik[2]}}</td>
      <td>{{uporabnik[3]}}</td>
    </tr>
  </table>
  <h1>Kupljene karte</h1>
  <table id="kupljene_karte" class="table table-hover">
    <tr>
      <th>id</th>
      <th>Vzletno letališče</th>
      <th>Pristajalno letališče</th>
      <th>Čas odhoda</th>
      <!-- TODO <th>Telefon</th> -->
    </tr>
    %for (id, vzletno, pristajalno, datum_odhoda, ura_odhoda) in leti:
    <tr>
      <td>{{id}}</td>
      <td>{{vzletno}}</td>
      <td>{{pristajalno}}</td>
      <td>{{datum_odhoda}} {{ura_odhoda}}</td>
    </tr>
      %end
  </table>
  

</div>