% setdefault('napaka', '')
% setdefault('uporabnik', '')
% setdefault('organizator', '')
% setdefault('admin', '')
% rebase('base.html', napaka = napaka, uporabnik = uporabnik, organizator = organizator, admin = admin)
<div class="container">
  <br><br><br><br>
  <h1>Podatki organizatorja</h1>
  <table id="izpis" class="table table-hover">
    <tr>
      <th>Emšo</th>
      <th>Ime</th>
      <th>Priimek</th>
      <th>Uporabniško ime</th>
    </tr>
    %for (emso, ime, priimek, uporabnisko_ime) in organizator_letov:
    <tr>
      <td>{{emso}}</td>
      <td>{{ime}}</td>
      <td>{{priimek}}</td>
      <td>{{uporabnisko_ime}}</td>
    </tr>
    %end
  </table>

  <a href="/sprememba_gesla">Spremeni geslo</a>
</div>